$color_1: #333;
$color_2: #ff0000;
$font-family_1: "Roboto", sans-serif;
$background-color_1: #f5f4f7;

body {
  background-color: $background-color_1;
  font-family: $font-family_1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $color_1;
  margin: 0;
  padding: 0;
}
.head {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
  align-items: center;
  padding: 20px 40px;
  flex-direction: row;
  .greeting {
    display: flex;
    flex-direction: column;

    #goodmorninguser {
      font-size: 30px;
      font-weight: 700;
      font-family: "Quicksand";
      margin-bottom: -40px;
    }
    #location {
      font-size: 17px;
      font-weight: 600;
      font-family: "Quicksand";
    }
  }
  .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    .name {
      margin-right: 10px;
      line-height: 0.1;
    }
    .profile {
      img {
        width: 60px;
        height: 60px;
        border-radius: 20%;
      }
    }
    .name {
      display: flex;
      flex-direction: column;

      #username {
        font-size: 22px;
        font-weight: 700;
        font-family: "Quicksand";
        margin-bottom: 8px;
        margin-left: 10%;
      }
      #probadge {
        font-size: 18px;
        font-weight: 600;
        font-family: "Quicksand";
        color: #ffc107;
      }
    }
  }
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px 25px;
  grid-auto-flow: row;
  height: 40vh;
  margin: 0 70px;
  grid-template-areas: "shortcut shortcut performance" "previous-task previous-task performance";
}
.shortcutadd {
  grid-area: shortcut;

  height: 100%;
}
.previous-task {
  grid-area: previous-task;

  height: 50%;
}
.performance {
  grid-area: performance;
  background-color: black;
  height: 100%;
  border-radius: 25px;
}

#uncompleted-task {
  font-family: "Quicksand";
  font-size: 20px;
  margin: 1% 0;
  font-weight: 700;
}
.task-management {
  background: #ffffff;
  border: 1px solid #fcc419;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 50%;
  padding: 30px;
}

.task-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: rgba(0, 0, 0, 0.6);
}

.performance-chart {
  display: flex;
  flex-flow: row nowrap;

  .single-chart {
    width: 60%;
    justify-content: space-around;
  }

  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }

  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }

  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .circular-chart.orange .circle {
    stroke: #ff9f00;
  }

  .percentage {
    fill: #ff9f00;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }
}

.performance-info {
  display: flex;
  flex-direction: column;
  transition: all 0.8s ease-in-out;
  align-items: center;
  margin-top: 20px;
  margin-right: 20px;

  #performance-info-title {
    font-family: "Quicksand";
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;
  }
  ul {
    color: #fcc419;
  }
}

.task-managment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  margin: 25px 70px;
  grid-template-areas:
    "add-task add-task habbit-builder"
    "task-list task-list habbit-builder";
}

.add-task {
  grid-area: add-task;
}

.task-list {
  grid-area: task-list;
}

.habbit-builder {
  grid-area: habbit-builder;
}

.task-list {
  grid-area: task-list;
  background-color: rgb(194, 191, 191);
}

.habbit-builder {
  grid-area: habbit-builder;
  background-color: rgb(187, 183, 183);
  height: 180%;
}

.add-task {
  grid-area: add-task;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-radius: 25px;

  #myInput {
    padding: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.75);
    width: 56%;
    height: 30px;
    font-weight: bold;
    background: rgba(252, 196, 25, 0.17);
    border: 2px solid rgba(0, 0, 0, 0.23);
    border-radius: 18px;
  }
  #format-button {
    background: #fcc419;
    border: 3px solid rgba(0, 0, 0, 0.37);
    border-radius: 20px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  #approx-time {
    background: rgb(0, 0, 0);
    border: 3px solid #fcc319c4;
    border-radius: 20px;
    padding: 15px 20px;
    text-align: center;
    color: #fcc419;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
  }
  #add-task-button {
    background: rgb(0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.28);
    border-radius: 20px;
    padding: 15px 20px;
    text-align: center;
    color: #fcc419;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
  }
}
